{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "always",
  "endOfLine": "auto"
}
